<!DOCTYPE html>
{{/* General variables */}}
<html lang="{{ .Site.LanguageCode | default "fr" }}" dir="ltr" class="no-js">
  <head>
    {{ partial "site/head" . }}
  </head>
    <body>
        <main>
            <div class="wrapper">
                <h1 class="text-center">Cartographie des élections françaises</h1>
                <br><br>
                {{- range $index, $value := .Params.europeennes -}}
                {{ if ne $index 0 }} / {{ end }}<strong><a href="{{ . }}">{{ . }} - {{ (index (where $.Site.Data.departementsregion "num" "eq" .) 0).dep }}</a></strong>
                {{- end -}}
            </div>
            <div id="container"></div>
        </main>
    </body>
</html>
