<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}" class="map">
    <head>
        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
        {{ partial "site/head" . }}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBUzX9F8nEyUmKBJ0u4YNuKAeXT2RfkpZE"></script>
        <script type="text/javascript" src="/js/markerclusterer.js"></script>
        <script type="text/javascript" src="/js/map-config.js"></script>
        {{- range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{- end -}}
    </head>
    <body style="margin:0px; padding:0px;" onload="initialize()">
        <main class="site-main" role="main">
            <script type="text/javascript">

                // Create the map
                function initialize() {
                  {{ partial "js-map-top.html" . | safeJS }}
                  google.maps.event.addListener(map,'zoom_changed',function(){
                    //do we need to update the style?
                    if(this.getZoom() < 4 !== this.get('lastZoom') < 4){
                      map.data.setStyle(map.data.getStyle());
                    }
                    //update the property
                    this.set('lastZoom',this.getZoom())
                  });
                  {{ block "main" . }}{{ end }}
                  {{ partial "js-map-bottom.html" . | safeJS }}
                };
            </script>

            <!-- you can use tables or divs for the overall layout -->
            <div class="container">
              {{- block "sidebar" . -}}{{- end -}}
              <div id="map-canvas"></div>
            </div>
        </main>
        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    </body>
</html>
