{{- $communesgeojson := $.context.Site.Data.communesgeojson -}}
{{- $communesgeo     := $.context.Site.Data.communesgeo -}}
{{- $arrondissements := $.context.Site.Data.arrondissements -}}

{{- $.context.Scratch.Set "geojsonOK" "TRUE" | safeJS -}}
{{- range $s := where $communesgeojson.features ".properties.code" "eq" $.code_insee -}}
    {{ if .geometry }}
    geojson_Polygon.features.push({"type" : "Feature","properties": {"fill": "{{ $.color }}","stroke-weight": "0.5"},"geometry": {{ .geometry | jsonify }}});
    {{ else }}
    {{- $.context.Scratch.Set "geojsonOK" "FALSE" | safeJS -}}
    {{ end }}
{{- end -}}

{{ if eq ($.context.Scratch.Get "geojsonOK") "FALSE" }}
    {{- if $.code_insee -}}
    {{- range where $communesgeo.features ".properties.insee_comm" "eq" $.code_insee -}}
        geojson_Polygon.features.push({"type" : "Feature","properties": {"fill": "{{ $.color }}","stroke-weight": "0.5"},"geometry": {{ .geometry | jsonify }}});
    {{- end -}}
    {{- $.context.Scratch.Set "geojsonOK" "TRUE" | safeJS -}}
    {{- end -}}
{{- end -}}

{{ if eq ($.context.Scratch.Get "geojsonOK") "FALSE" }}
  {{- range $s := where $arrondissements.features ".properties.code_insee" "eq" $.code_insee -}} 
  {{ if .geometry }}
  geojson_Polygon.features.push({"type" : "Feature","properties": {"fill": "{{ $.color }}","stroke-weight": "0.5"},"geometry": {{ .geometry | jsonify }}});
  {{ else }}
  {{- $.context.Scratch.Set "geojsonOK" "FALSE" | safeJS -}}
  {{ end }}
  {{- end -}}
{{- end -}}