<!DOCTYPE html>
{{/* General variables */}}
<html lang="{{ .Site.LanguageCode | default "fr" }}" dir="ltr" class="no-js">
  <head>
    {{ partial "site/head" . }}
  </head>
    <body>
        <main>
            <div class="wrapper">
                <h1 class="text-center">Cartographie des élections françaises</h1>
                <br>
                <ul class="list-unstyled">
                  {{ range .Site.RegularPages }}
                    <li><a class="card-inline card-shadow" href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a></li>
                  {{ end }}
                </ul>
            </div>
        </main>
    </body>
</html>
